{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>
  <body>
    <h1>This is about page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio a qui culpa
      quaerat est minus cumque modi. Necessitatibus, fugit, aliquam sit
      incidunt, excepturi iste nostrum repellat iusto aspernatur neque esse.
    </p>
    <p>check out my home page <a href="/">Home</a></p>
  </body>
</html>
